'.source.rosewind':
  'Class':
    'prefix': 'class'
    'body': 'class ${1:Name} {\n    pub ${2:text} ${3:value};\n\n    create(${2:text} ${3:value}) {\n        self.${3:value} = ${3:value};\n    }\n}'
  'Print':
    'prefix': 'print'
    'body': 'print(${1:"Hello, RoseWind!"});'
  'Loop items':
    'prefix': 'loop'
    'body': 'loop ${1:item} in ${2:items} {\n    ${3:// body}\n}'
  'Method':
    'prefix': 'method'
    'body': 'pub ${1:name}(${2}) -> ${3:void} {\n    ${4:// body}\n}'
